# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Model checkpoints
models/checkpoints/

# Large model files
*.bin

*.pth
*.safetensors

# Logs
logs/

# Temporary files
*.tmp